<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="University schedule web-application " name="description"/>
    <meta content="Oleh Tsipotan" name="author"/>
    <title>University Schedule</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>

    <link rel="icon" th:href="@{/assets/calendar-days-solid.svg}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}"/>

</head>
<body>
<!-- Responsive navbar-->
<div th:replace="~{fragments/navbar :: navbar('Dashboard')}"></div>
<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">A warm welcome! [[${userFullName}]]</h1>
                <p class="fs-4">You are logged as Admin. Go Edit!</p>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div sec:authorize="hasAuthority('VIEW_TEACHERS')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Teachers',
                text='Representing of real-world university teacher. Email, Password, First and Last names.',
                iconClassName='fa-solid fa-chalkboard-user')}"></div>
            <div sec:authorize="hasAuthority('VIEW_STUDENTS')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Students',
                text='Representing of real-world university student. Email, Password, Group, First and Last names.',
                iconClassName='fa-solid fa-graduation-cap')}"></div>
            <div sec:authorize="hasAuthority('VIEW_USERS')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Users',
                text='All Teachers and Students are also Users. Contains common Email and Password fields.',
                iconClassName='fa-solid fa-user')}"></div>
            <div sec:authorize="hasAuthority('VIEW_BUILDINGS')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Buildings',
                text='Replies that indicate buildings address and name. For displaying in schedule.',
                iconClassName='fa-solid fa-building-columns')}"></div>
            <div sec:authorize="hasAuthority('VIEW_CLASSROOMS')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Classrooms',
                text='Representing rooms in Buildings for conducting classes. Displaying room names.',
                iconClassName='fa-solid fa-door-open')}"></div>
            <div sec:authorize="hasAuthority('VIEW_COURSES')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Courses',
                text='Representing teaching subjects for groups. Related to Groups and Teachers.',
                iconClassName='fa-solid fa-book-open')}"></div>
            <div sec:authorize="hasAuthority('VIEW_GROUPS')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Groups',
                text='Representing Student group. Classes are formed based on Group, not a Student.',
                iconClassName='fa-solid fa-people-group')}"></div>
            <div sec:authorize="hasAuthority('VIEW_DISCIPLINES')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Disciplines',
                text='Each group has their field. Discipline representing this field.',
                iconClassName='fa-solid fa-bookmark')}"></div>
            <div sec:authorize="hasAuthority('VIEW_CLASSTYPES')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'ClassTypes',
                text='Representing type of Class, like lecture, lab, seminar.',
                iconClassName='fa-solid fa-person-chalkboard')}"></div>
            <div sec:authorize="hasAuthority('VIEW_CLASSTIMES')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'ClassTimes',
                text='Representing only time schedule of classes, their order.',
                iconClassName='fa-solid fa-clock')}"></div>
            <div sec:authorize="hasAuthority('VIEW_CLASSES')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Classes',
                text='Main schedule items',
                iconClassName='fa-solid fa-calendar-days')}"></div>
            <div sec:authorize="hasAuthority('VIEW_ROLES')" th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Roles',
                text='User roles inside whole system',
                iconClassName='fa-solid fa-masks-theater')}"></div>
            <div sec:authorize="hasAuthority('VIEW_AUTHORITIES')"
                 th:replace="~{fragments/entityCardColumn.html :: formColumn(
                entityName = 'Authorities',
                text='Role accesses',
                iconClassName='fa-solid fa-lock-open')}"></div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>