<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="University schedule web-application "/>
    <meta name="author" content="Oleh Tsipotan"/>
    <title>University Schedule</title>

    <link th:href="@{/styles/main.css}" rel="stylesheet"/>

    <link th:href="@{/assets/calendar-days-solid.svg}" rel="icon" type="image/x-icon"/>
    <link th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<div th:replace="~{fragments/navbar :: navbar('Main')}"></div>
<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div th:if="${param.redirect}">
            <div class="alert alert-success">Redirected to Main page</div>
        </div>
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">A warm welcome! [[${userFullName}]]</h1>
                <p class="fs-4">The Schedule University App is your all-in-one solution for managing your university
                    timetable.</p>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div sec:authorize="hasAuthority('VIEW_SCHEDULE')" class="col-lg-6 col-xxl-12 mb-5">
                <a class="nav-link hoverable" href="/schedule">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="fa-solid fa-calendar-days"></i></div>
                            <h2 class="fs-4 fw-bold">My Schedule</h2>
                            <p class="mb-0">Representing of real-world university schedule. Only Relative to you.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div sec:authorize="hasAuthority('VIEW_COURSES')" class="col-lg-6 col-xxl-4 mb-5">
                <a class="nav-link hoverable" href="/courses">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="fa-solid fa-chalkboard-user"></i></div>
                            <h2 class="fs-4 fw-bold">Courses</h2>
                            <p class="mb-0">Display all relative to you Courses</p>
                        </div>
                    </div>
                </a>
            </div>
            <div sec:authorize="hasAuthority('VIEW_CLASSTIMES')" class="col-lg-6 col-xxl-4 mb-5">
                <a class="nav-link hoverable" href="/classtimes">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="fa-solid fa-clock"></i></div>
                            <h2 class="fs-4 fw-bold">Time Order</h2>
                            <p class="mb-0">Display when classes starts.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div sec:authorize="hasAuthority('VIEW_BUILDINGS')" class="col-lg-6 col-xxl-4 mb-5">
                <a class="nav-link hoverable" href="/buildings">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="fa-solid fa-chalkboard-user"></i></div>
                            <h2 class="fs-4 fw-bold">Time Order</h2>
                            <p class="mb-0">Representing of real-world university Buildings.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div sec:authorize="hasAuthority('VIEW_STUDENTS')" class="col-lg-6 col-xxl-12 mb-5">
                <a class="nav-link hoverable" href="/students">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="fa-solid fa-people-group"></i></div>
                            <h2 class="fs-4 fw-bold">My Group</h2>
                            <p class="mb-0">Display all students that have the same group with you.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
