<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-6 col-xxl-4 mb-5" th:fragment="formColumn (entityName, text, iconClassName)">
    <a class="nav-link hoverable" th:href="@{'/' + ${#strings.toLowerCase(entityName)}}">
        <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                    th:class="${iconClassName}"></i></div>
                <h2 class="fs-4 fw-bold" th:text="${entityName}"></h2>
                <p class="mb-0" th:text="${text}"></p>
            </div>
        </div>
    </a>
</div>
</html>
