<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="University schedule web-application " name="description"/>
    <meta content="Oleh Tsipotan" name="author"/>
    <title>Building insert</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>

    <link rel="icon" th:href="@{/assets/calendar-days-solid.svg}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbarWithBackPage('Building Insert', '/buildings')}"></div>
<div class="container">
    <div class="row">
        <div th:if="${success}">
            <div class="alert alert-success mt-3">Inserted!</div>
        </div>
        <div th:if="${validationServiceErrors != null}">
            <div class="alert alert-warning mt-3" th:each="violation : ${validationServiceErrors}"
                 th:text="${violation}"></div>
        </div>

        <form
            class="form-horizontal mt-3"
            method="post"
            role="form"
            th:action="@{'/buildings/insert'}"
            th:object="${buildingDTO}">
            <!-- Name input -->
            <div class="form-group row mb-2">
                <label class="col-sm-2 col-form-label fw-bold" for="inputName">Name</label>
                <div class="col-sm-10">
                    <input id="inputName"
                           name="name" placeholder="Name" required
                           th:class="${success != null ? 'is-valid form-control' : (#fields.hasErrors('name') ? 'is-invalid form-control' : 'form-control')}"
                           type="text">
                    <div class="valid-feedback" th:if="${success}">
                        Looks good!
                    </div>
                    <div class="invalid-feedback"
                         th:each="error : ${#fields.errors('name')}"
                         th:text=${error}>
                    </div>
                </div>
            </div>

            <!-- Address input -->
            <div class="form-group row mb-2">
                <label class="col-sm-2 col-form-label fw-bold" for="inputAddress">Address</label>
                <div class="col-sm-10">
                    <input class="form-control"
                           id="inputAddress"
                           name="address" placeholder="Address" required th:class="${success != null ? 'is-valid form-control' : (#fields.hasErrors('address') ? 'is-invalid form-control' : 'form-control')}" type="text">
                    <div class="valid-feedback" th:if="${success}">
                        Looks good!
                    </div>
                    <div class="invalid-feedback"
                         th:each="error : ${#fields.errors('address')}"
                         th:text=${error}>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>