<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="University schedule web-application " name="description"/>
    <meta content="Oleh Tsipotan" name="author"/>
    <title>Class insert</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>

    <link rel="icon" th:href="@{/assets/calendar-days-solid.svg}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbarWithBackPage('Class Insert', '/classes')}"></div>
<div class="container">
    <div class="row">
        <div th:if="${validationServiceErrors != null}">
            <div class="alert alert-warning mt-3" th:each="violation : ${validationServiceErrors}"
                 th:text="${violation}"></div>
        </div>

        <form
            class="form-horizontal mt-3"
            method="post"
            role="form"
            th:action="@{'/classes/insert'}"
            th:object="${scheduledClassDTO}">

            <!-- Course select Input -->
            <div class="form-group row mb-2">
                <label class="col-sm-2 col-form-label fw-bold" for="inputCourse">Course</label>
                <div class="col-sm-10">
                    <select id="inputCourse" name="courseDTO.id" required
                            th:class="${success != null ? 'is-valid form-select' : (#fields.hasErrors('courseDTO') ? 'is-invalid form-select' : 'form-select')}">
                        <option th:each="courseDTO : ${courseDTOList}" th:text="${courseDTO.getName()}"
                                th:value="${courseDTO.getId()}"></option>
                    </select>
                    <div class="valid-feedback" th:if="${success}">
                        Looks good!
                    </div>
                    <div class="invalid-feedback"
                         th:each="error : ${#fields.errors('courseDTO')}"
                         th:text=${error}>
                    </div>
                </div>
            </div>

            <!-- Teacher select Input -->
            <div class="form-group row mb-2">
                <label class="col-sm-2 col-form-label fw-bold" for="inputTeacher">Teacher</label>
                <div class="col-sm-10">
                    <select id="inputTeacher" name="teacherDTO.id" required
                            th:class="${success != null ? 'is-valid form-select' : (#fields.hasErrors('teacherDTO') ? 'is-invalid form-select' : 'form-select')}">
                        <option th:each="teacherDTO : ${teacherDTOList}" th:text="${teacherDTO.getFullName()}"
                                th:value="${teacherDTO.getId()}"></option>
                    </select>
                    <div class="valid-feedback" th:if="${success}">
                        Looks good!
                    </div>
                    <div class="invalid-feedback"
                         th:each="error : ${#fields.errors('teacherDTO')}"
                         th:text=${error}>
                    </div>
                </div>
            </div>

            <!-- Classroom select Input-->
            <div class="form-group row mb-2">
                <label class="col-sm-2 col-form-label fw-bold" for="inputClassroom">Classroom</label>
                <div class="col-sm-10">
                    <select id="inputClassroom" name="classroomDTO.id" required
                            th:class="${success != null ? 'is-valid form-select' : (#fields.hasErrors('classroomDTO') ? 'is-invalid form-select' : 'form-select')}">
                        <option th:each="classroomDTO : ${classroomDTOList}" th:text="${classroomDTO.getName() + ', ' + classroomDTO.getBuildingDTO().getName()}"
                                th:value="${classroomDTO.getId()}"></option>
                    </select>
                    <div class="valid-feedback" th:if="${success}">
                        Looks good!
                    </div>
                    <div class="invalid-feedback"
                         th:each="error : ${#fields.errors('classroomDTO')}"
                         th:text=${error}>
                    </div>
                </div>
            </div>

            <!-- ClassTime select Input -->
            <div class="form-group row mb-2">
                <label class="col-sm-2 col-form-label fw-bold" for="inputClassTime">Class Time</label>
                <div class="col-sm-10">
                    <select id="inputClassTime" name="classTimeDTO.id" required
                            th:class="${success != null ? 'is-valid form-select' : (#fields.hasErrors('classTimeDTO') ? 'is-invalid form-select' : 'form-select')}">
                        <option th:each="classTimeDTO : ${classTimeDTOList}" th:text="@{${classTimeDTO.getOrderNumber()} + ', ' + ${classTimeDTO.getStartTime()} + ' for ' + ${classTimeDTO.getDurationMinutes()} + 'min.'}"
                                th:value="${classTimeDTO.getId()}"
                        ></option>
                    </select>
                    <div class="valid-feedback" th:if="${success}">
                        Looks good!
                    </div>
                    <div class="invalid-feedback"
                         th:each="error : ${#fields.errors('classTimeDTO')}"
                         th:text=${error}>
                    </div>
                </div>
            </div>

            <!-- Date Input -->
            <div class="form-group row mb-2">
                <label class="col-sm-2 col-form-label fw-bold" for="inputDate">Date</label>
                <div class="col-sm-10">
                    <input id="inputDate" name="date" placeholder="Date" required
                           th:class="${success != null ? 'is-valid form-control' : (#fields.hasErrors('date') ? 'is-invalid form-control' : 'form-control')}"
                           type="date">
                </div>
                <div class="valid-feedback" th:if="${success}">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     th:each="error : ${#fields.errors('date')}"
                     th:text=${error}>
                </div>
            </div>

            <!-- ClassType select input -->
            <div class="form-group row mb-2">
                <label class="col-sm-2 col-form-label fw-bold" for="inputClassType">Class Type</label>
                <div class="col-sm-10">
                    <select id="inputClassType" name="classTypeDTO.id" required
                            th:class="${success != null ? 'is-valid form-select' : (#fields.hasErrors('classTypeDTO') ? 'is-invalid form-select' : 'form-select')}">
                        <option th:each="classTypeDTO : ${classTypeDTOList}" th:text="${classTypeDTO.getName()}"
                                th:value="${classTypeDTO.getId()}"
                        ></option>
                    </select>
                    <div class="valid-feedback" th:if="${success}">
                        Looks good!
                    </div>
                    <div class="invalid-feedback"
                         th:each="error : ${#fields.errors('classTypeDTO')}"
                         th:text=${error}>
                    </div>
                </div>
            </div>

            <!-- Groups select input -->
            <div class="form-group row mb-2">
                <label class="col-sm-2 col-form-label fw-bold" for="inputGroup">Groups</label>
                <div class="col-sm-10">
                    <select id="inputGroup" multiple name="groupDTOS" required
                            th:class="${success != null ? 'is-valid form-select' : (#fields.hasErrors('groupDTOS') ? 'is-invalid form-select' : 'form-select')}">
                        <option th:each="groupDTO : ${groupDTOList}" th:text="${groupDTO.getName()}"
                                th:value="${groupDTO.getId()}"
                        ></option>
                    </select>
                    <div class="valid-feedback" th:if="${success}">
                        Looks good!
                    </div>
                    <div class="invalid-feedback"
                         th:each="error : ${#fields.errors('groupDTOS')}"
                         th:text=${error}>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>