<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="University schedule web-application " name="description"/>
    <meta content="Oleh Tsipotan" name="author"/>
    <title>Groups Records</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>

    <link rel="icon" th:href="@{/assets/calendar-days-solid.svg}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar('Groups')}"></div>
<div th:if="${success}">
    <div class="alert alert-success mt-3" th:text="${success}"></div>
</div>
<div th:if="${insertedSuccessId}">
    <div class="alert alert-success mt-3" th:text="@{'Inserted Record with ID = ' + ${insertedSuccessId} + '.'}"></div>
</div>
<div th:if="${entities.size() > 0}">
    <table class="table table-hover table-bordered table-responsive-md">
        <thead class="thead-light">
        <tr class="sticky-top">
            <th th:replace="~{fragments/sorting :: sorting('groups', 'id','Id')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('groups', 'name','Name')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('groups', 'disciplineName','Discipline Name')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('groups', 'courses','Course')}"></th>
            <th class="static-col" sec:authorize="hasAuthority('EDIT_GROUPS')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity : ${entities}">
            <th scope="row" th:text="${entity.getId()}"></th>
            <td th:text="${entity.getName()}"></td>
            <td th:text="${entity.getDisciplineDTO().getName()}"></td>
            <td>
                <span th:each="courseDTO, iterStat : ${entity.getCourseDTOS()}"><span
                    th:text="${courseDTO.getName()}"></span><span th:if="${!iterStat.last}">, </span></span>
            </td>
            <td class="static-col" sec:authorize="hasAuthority('EDIT_GROUPS')">
                <a class="fa-solid fa-pen-to-square icon-dark btn-delete" id="btnUpdate"
                   th:href="@{'/groups/update/' + ${entity.getId()}}" title="Update this Group"></a>
                <a class="fa-regular fa-trash-can icon-dark btn-delete" id="btnDelete"
                   th:href="@{'/groups/delete/' + ${entity.getId()}}" title="Delete this Group"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="sticky-bottom bg-light p-3" sec:authorize="hasAuthority('INSERT_GROUPS')">
        <button class="btn btn-primary"
                type="button"><a class="nav-link" href="/groups/insert">Insert new</a></button>
    </div>
</div>
<div class="" th:unless="${entities.size() > 0}">
    <span>No Groups found!</span>
</div>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>