<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="University schedule web-application "/>
    <meta name="author" content="Oleh Tsipotan"/>
    <title>Student update</title>

    <link th:href="@{/styles/main.css}" rel="stylesheet"/>

    <link th:href="@{/assets/calendar-days-solid.svg}" rel="icon" type="image/x-icon"/>
    <link th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbarWithBackPage('Student Update', '/students')}"></div>
<div class="container">
    <div class="row">
        <!-- Alerts -->
        <div th:if="${success}">
            <div class="alert alert-success mt-3">Updated!</div>
        </div>
        <div th:if="${validationServiceErrors != null}">
            <div th:each="violation : ${validationServiceErrors}" class="alert alert-warning mt-3"
                 th:text="${violation}"></div>
        </div>

        <form
                method="post"
                role="form"
                th:action="@{'/students/update/' + ${entity.getId()}}"
                class="form-horizontal mt-3"
                th:object="${studentDTO}">
            <!-- static ID Input -->
            <div class="form-group row mb-2">
                <label for="staticId" class="col-sm-2 col-form-label fw-bold">ID</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext fw-bold" id="staticId"
                           th:value="${entity.getId()}">
                </div>
            </div>

            <!-- FirstName input -->
            <div class="form-group row mb-2">
                <label for="inputFirstName" class="col-sm-2 col-form-label fw-bold">First Name</label>
                <div class="col-sm-10">
                    <input type="text" name="firstName" id="inputFirstName" placeholder="First Name"
                           th:class="${success != null ? 'is-valid form-control' : (#fields.hasErrors('firstName') ? 'is-invalid form-control' : 'form-control')}"
                           th:value="${entity.getFirstName()}" required>
                    <div th:if="${success}" class="valid-feedback">
                        Looks good!
                    </div>
                    <div th:each="error : ${#fields.errors('firstName')}"
                         class="invalid-feedback"
                         th:text=${error}>
                    </div>
                </div>
            </div>
            <!-- LastName input -->
            <div class="form-group row mb-2">
                <label for="inputLastName" class="col-sm-2 col-form-label fw-bold">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" name="lastName" id="inputLastName" placeholder="Last Name"
                           th:class="${success != null ? 'is-valid form-control' : (#fields.hasErrors('lastName') ? 'is-invalid form-control' : 'form-control')}"
                           th:value="${entity.getLastName()}" required>
                    <div th:if="${success}" class="valid-feedback">
                        Looks good!
                    </div>
                    <div th:each="error : ${#fields.errors('lastName')}"
                         class="invalid-feedback"
                         th:text=${error}>
                    </div>
                </div>
            </div>

            <!-- Email input -->
            <div class="form-group row mb-2">
                <label for="inputEmail" class="col-sm-2 col-form-label fw-bold">Email</label>
                <div class="col-sm-10">
                    <input type="email" name="email" id="inputEmail" placeholder="myemail@email.com"
                           th:class="${success != null ? 'is-valid form-control' : (#fields.hasErrors('email') ? 'is-invalid form-control' : 'form-control')}"
                           th:value="${entity.getEmail()}" required>
                    <div th:if="${success}" class="valid-feedback">
                        Looks good!
                    </div>
                    <div th:each="error : ${#fields.errors('email')}"
                         class="invalid-feedback"
                         th:text=${error}>
                    </div>
                </div>
            </div>
            <!-- Group Input -->
            <div class="form-group row mb-2">
                <label for="inputGroup" class="col-sm-2 col-form-label fw-bold">Group</label>
                <div class="col-sm-10">
                    <select name="groupDTO.id" id="inputGroup" required
                            th:class="${success != null ? 'is-valid form-select' : (#fields.hasErrors('groupDTO') ? 'is-invalid form-select' : 'form-select')}">
                        <option th:each="groupDTO : ${groupDTOList}" th:value="${groupDTO.getId()}"
                                th:text="${groupDTO.getName()}"
                                th:selected="${groupDTO.equals(entity.getGroupDTO())}"></option>
                    </select>
                    <div th:if="${success}" class="valid-feedback">
                        Looks good!
                    </div>
                    <div th:each="error : ${#fields.errors('groupDTO')}"
                         class="invalid-feedback"
                         th:text=${error}>
                    </div>
                </div>
            </div>
            <!-- Role Input -->
            <div class="form-group row mb-2">
                <label for="inputRole" class="col-sm-2 col-form-label fw-bold">Role</label>
                <div class="col-sm-10">
                    <select class="form-select" name="roleDTO.id" id="inputRole" required
                            th:class="${success != null ? 'is-valid form-select' : (#fields.hasErrors('roleDTO') ? 'is-invalid form-select' : 'form-select')}">
                        <option th:each="roleDTO : ${roleDTOList}" th:value="${roleDTO.getId()}"
                                th:text="${roleDTO.getName()}"
                                th:selected="${roleDTO.equals(entity.getRoleDTO())}"></option>
                    </select>
                    <div th:if="${success}" class="valid-feedback">
                        Looks good!
                    </div>
                    <div th:each="error : ${#fields.errors('roleDTO')}"
                         class="invalid-feedback"
                         th:text=${error}>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="inputLastName" class="col-sm-2 col-form-label fw-bold">Is Enable</label>
                <div class="col-sm-10">
                    <input class="form-check-input" type="checkbox" id="inputIsEnable" name="isEnable"
                           th:checked="${entity.isEnable()}">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>