<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="University schedule web-application "/>
    <meta name="author" content="Oleh Tsipotan"/>
    <title>Teachers Records</title>

    <link th:href="@{styles/main.css}" rel="stylesheet"/>

    <link th:href="@{assets/calendar-days-solid.svg}" rel="icon" type="image/x-icon"/>
    <link th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar('Teachers')}"></div>
<div th:if="${success}">
    <div class="alert alert-success mt-3" th:text="${success}"></div>
</div>
<div th:if="${entities.size() > 0}">
    <table class="table table-hover table-bordered table-responsive-md">
        <thead class="thead-light">
        <tr class="sticky-top">
            <th th:replace="~{fragments/sorting :: sorting('teachers', 'id','Id')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('teachers', 'email','Email')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('teachers', 'firstName','FirstName')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('teachers', 'lastName','LastName')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('teachers', 'courses','Courses')}"></th>
            <th th:replace="~{fragments/sorting :: sorting('teachers', 'isEnable','isEnable')}"></th>
            <th sec:authorize="hasAuthority('EDIT_TEACHERS')" class="static-col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity : ${entities}">
            <th scope="row" th:text="${entity.getId()}"></th>
            <td th:text="${entity.getEmail()}"></td>
            <td th:text="${entity.getFirstName()}"></td>
            <td th:text="${entity.getLastName()}"></td>
            <td>
                <span th:each="courseDTO, iterStat : ${entity.getCourseDTOS()}"><span
                        th:text="${courseDTO.getName()}"></span><span th:if="${!iterStat.last}">, </span></span>
            </td>
            <td th:text="${entity.isEnable()}"></td>
            <td sec:authorize="hasAuthority('EDIT_TEACHERS')" class="static-col">
                <a th:href="@{'/teachers/update/' + ${entity.getId()}}" id="btnUpdate"
                   title="Update this Teacher" class="fa-solid fa-pen-to-square icon-dark btn-delete"></a>
                <a th:href="@{'/teachers/delete/' + ${entity.getId()}}" id="btnDelete"
                   title="Delete this Teacher" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="" th:unless="${entities.size() > 0}">
    <span>No Teachers found!</span>
</div>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>